*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
.settings/
scratch/
test-output/
target/
src/test/java/com/evolveum/polygon/connector/jira/test/JiraConnectorSimpleTests
sample/
